.organization {
    display: flex;
    min-height: 100vh;
    height: auto;
    font-family: Muli, sans-serif;
    .organization__navigation {
      flex: 0.5;
      border-right: solid 1px #dfe9f1;
    }
    .organization__news {
      flex: 3;
      .organization__content {
        display: flex;
        padding: 20px 0px 20px 30px;
      }
      .organization__posts {
        width: 90.5%;
      }
    }
  }