.profile {
    display: flex;
    min-height: 100vh;
    height: auto;
    font-family: Muli, sans-serif;
    .profile__navigation {
      flex: 0.5;
      border-right: solid 1px #dfe9f1;
    }
    .profile__news {
      flex: 3;
      .profile__content {
        display: flex;
        padding: 20px 0px 20px 30px;
      }
      .posts-profile {
        width: 90.5%;
      }
    }
  }